<!DOCTYPE html>
<html lang="en" ng-app="yogo">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="../css/Events.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-sanitize.min.js"></script>
    <script src="../js/Controller.js"></script>
    <script src="../js/App.js"></script>
</head>
<body ng-controller="EventsController">
    <div id="navbar"></div>
      <div id="container-one">
        <div id="text-content" class="appear">
            <h1>For a better connection</h1>
            <p>We offer a holistic program that allows you to live incredible experiences and builds you up for a better life, merging the benefits of yoga for a deep transformation of body, mind and soul.</p>
        </div>

        <div id="image-content-1" class="appear">
            <h4>Retirement in Tunisie</h4>
            <img src="../images/crystalweed-cannabis-iXpuwXVuz8E-unsplash.jpg" alt="Spa Bath">
        </div>
      </div>

      <div id="container-two">
        <div id="header-one" class="appear2">
            <div class="highlight-text">THIS WEEK</div>
            <h1>Don't miss your appointment</h1>
            <p>Your event of the moment is there do not hesitate to book your seats.</p>
        </div>

        <!-- Slideshow -->
         <section id="slider" class="appear2">
          <!-- Card 1 -->
          <div class="card active-slide">
            <div class="course-info">
                <h2>Reconnection</h2>
                <div class="duration">
                    <span class="clock-icon">⏰</span>
                    <span>4 weeks</span>
                </div>
                <p>It is an invitation to transcend limitations, to rebuild a stronger self and embrace the continuous journey of personal evolution through the practice of yoga.</p>
                <a href="/html/Register.html" class="button-register">Access the course</a>
            </div>
              <div class="image-content">
                  <img src="../images/avrielle-suleiman-GpVak9-cL6E-unsplash.jpg" alt="Yoga Image">
              </div>
          </div>

          <!-- Card 2 -->
          <div class="card">
                <div class="course-info">
                    <h2>Tadasana</h2>
                    <div class="duration">
                        <span class="clock-icon">⏰</span>
                        <span>6 weeks</span>
                    </div>
                    <p>Improves posture, strengthens ankles, knees and thighs, calms the mind.</p>
                    <a href="/html/Register.html" class="button-register">Access the course</a>
                </div>
              <div class="image-content">
                  <img src="../images/carl-barcelo-nqUHQkuVj3c-unsplash.jpg" alt="Mindfulness Image">
              </div>
          </div>
          <!-- Add navigation buttons -->
            <a id="prev" onclick="changeSlide(-1)">❮</a>
            <a id="next" onclick="changeSlide(1)">❯</a>
      </section>
    
      <div id="navigation" class="appear2">
          <div class="dot active"></div>
          <div class="dot"></div>
      </div>
    </div>

    <div id="container-three">
      <div id="header-two" class="appear3">
          <div class="highlight-text">TO COME</div>
          <h1>It might be interesting for you</h1>
          <p>We offer a holistic program that allows you to live incredible experiences and builds you up for a better life, merging the benefits of yoga for a deep transformation of body, mind, and soul.</p>
      </div>

        <input type="text" id="search" onkeyup="searchEvents()" placeholder="Search Events">
        <div class="appear3" id="event-cards">
            <div ng-repeat="data in datas" class="event-card">
                <img src="../images/chermiti-mohamed-fk5RgUiYpVw-unsplash.jpg" alt="Tunis Image">
                <div class="event-date">
                    <img src="../images/icons8-clock.svg" alt="Clock Icon"> {{ data.attributes.date | date:'MMM d, yyyy'  }}
                </div>
                <div class="event-info">
                    <div class="event-category">{{ data.attributes.category  }}</div>
                    <div class="event-title">{{ data.attributes.title  }}</div>
                    <div class="event-description">{{ data.attributes.sub_message  }}</div>
                    <a href="Events_1.html#" class="btn" ng-click="getEventId(data.id)">
                        Participate
                    </a>
                </div>
            </div>
        </div>
  </div>

  <div id="footer"></div>

      <script src="../js/Events.js"></script>
      <script src="../js/Navbar.js?v=1" defer></script>
    
</body>
</html>