    <div id="container">
        <div id="form-container">
            <form ng-submit="login()">
                <h1>LOGIN</h1>
                <div class="infield">
                    <input type="text" name="email" required="required" ng-model="email" id="email"/>
                    <span>Email</span>
                    <i></i>
                    <label></label>
                </div>
                <div class="infield">
                    <input type="password" name="password" required="required" ng-model="password" id="password"/>
                    <span>Password</span>
                    <i></i>
                    <label></label>
                </div>
                <div id="social-container">
                    <a href="#" class="social"><img src="/images/facebook.png" alt=""></a>
                    <a href="#" class="social"><img src="/images/google.png" alt=""></i></a>
                </div>
                <button id="submit">Sign In</button>
            </form>
        </div>
        <div id="right">
            <img src="../images/wesley-tingey-57wo9F-r2-A-unsplash.jpg" alt="Ready to start your journey?">
        </div>
    </div>