<div id="navbar"></div>
<div class="container">
    <div class="step-indicator">STEP 1 OF 3</div>
    <h1>Create a password to start your membership</h1>
    <p>Only a few more steps left, and you’ll be all set! We also prefer to avoid paperwork.</p>

    <form class="membership-form" ng-submit="submitForm()" novalidate>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ng-model="formData.email" disabled>

        <label for="password">Add a password</label>
        <input type="password" id="password" name="password" ng-model="formData.password" placeholder="Add a password" required>

        <div class="checkbox-group">
            <input type="checkbox" id="offers" name="offers">
            <label for="offers">Please do not email me special offers.</label>
        </div>
        <button type="submit" class="submit-btn">Next</button>
    </form>

    <p class="error-message" ng-if="errorMessage">{{errorMessage}}</p>
</div>
