<div id="content"></div>
<div id="step-indicator">STEP 2 OF 3</div>
<h1>Choose the plan that's right for you</h1>

<div class="wrapper">
    <div class="card" ng-repeat="card in cards" 
         ng-class="{'active': card.active}" 
         ng-click="selectCard(card)">
        <h3>{{ card.name }}</h3>
        <h1>{{ card.price }} <span>/Month</span></h1>
        <p>{{ card.description }}</p>
        <ul>
            <li ng-repeat="feature in card.features">
                <i class="fa-solid fa-square-check"></i> {{ feature }}
            </li>
        </ul>
        <a href="#" class="subscribe-btn" ng-click="selectCard(card); $event.preventDefault()">Subscribe</a>
    </div>
</div>

<div id="submit-container">
    <button id="submit-btn" ng-click="submitForm()">Continue to Next Step</button>
</div>
