    <div class="container">
        <h1 class="text-center mt-5" style="margin-bottom: 0px;">All Event</h1>
        <div class="text-center mt-1 mb-3">
            <a href="#/create-event">
                <button type="submit" class="btn btn-success">Create Event</button>
            </a>
        </div>
    <div class="table-responsive"  ng-controller="EventsController">
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Place</th>
                    <th>Category</th>
                    <th>Day</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <div>
                <tr ng-repeat="data in datas">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ data.attributes.title }}</td>
                    <td>{{ data.attributes.place }}</td>
                    <td>{{ data.attributes.category }}</td>
                    <td>{{ data.attributes.day }}</td>
                    <td>{{ data.attributes.date | date:'MMM d, yyyy' }}</td>
                    <td>
                        <a href="#/update-event"><button type="submit" class="btn btn-sm btn-primary text-light" ng-click="getEventId(data.id)">Edit</button></a>
                        <button type="submit" class="btn btn-sm btn-danger" ng-click="deleteEvent(data.id)">Delete</button>
                    </td>
                </tr>          
            </div>
            </tbody>
        </table>
        </form>
    </div>
    </div>
