<!DOCTYPE html>
<html lang="en" ng-app="yogo">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update - Event</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/angular-route.min.js"></script>
    <script src="../../js/Controller.js"></script>
    <script src="../../js/App.js"></script>
</head>
<body>

<body ng-controller="EventsController">
    <div id="navbar-dashboard"></div>
    <div class="container mb-5 mt-3 border rounded" style="width:1000px">
        <h2  class="text-center mt-1">Update Event</h2>
        <form ng-submit="updateEvent(eventId)">    
            <label class="form-label" for="title">Title</label><br>
            <input class="form-control" type="text" id="title" name="title" value="{{data.attributes.title}}" ng-model="formData.title"><br>

            <label class="form-label" for="day">Day</label>
            <select class="form-control" id="day" name="day" ng-model="formData.day">
                    <option value="senin" ng-selected="data.attributes.day === 'senin'">Senin</option>
                    <option value="selasa" ng-selected="data.attributes.day === 'selasa'">Selasa</option>
                    <option value="rabu" ng-selected="data.attributes.day === 'rabu'">Rabu</option>
                    <option value="kamis" ng-selected="data.attributes.day === 'kamis'">Kamis</option>
                    <option value="jumat" ng-selected="data.attributes.day === 'jumat'">Jumat</option>
                    <option value="sabtu" ng-selected="data.attributes.day === 'sabtu'">Sabtu</option>
                    <option value="minggu" ng-selected="data.attributes.day === 'minggu'">Minggu</option>
            </select><br>

            <label class="form-label" for="date">Date</label><br>
            <input class="form-control" type="text" id="date" name="date" ng-model="formData.date" value="data.attributes.date"><br>

            <label class="form-label" for="message">Message</label><br>
            <textarea class="form-control" name="message" rows="2" cols="100" ng-model="formData.message"></textarea><br>

            <label class="form-label" for="sub_message">Sub Message</label><br>
            <textarea class="form-control" name="sub_message" rows="3" cols="100" ng-model="formData.sub_message"></textarea><br>

            <label class="form-label" for="author_1">Author 1</label><br>
            <input class="form-control" type="text" id="author_1" name="author_1" ng-model="formData.author_1"><br>

            <label class="form-label" for="job_author_1">Job Author 1</label><br>
            <input class="form-control" type="text" id="job_author_1" name="job_author_1" ng-model="formData.job_author_1"><br>

            <label class="form-label mt-2" for="image">Image</label>
            <input class="form-control" type="file" id="image" name="image" ng-model="formData.image"><br>

            <label class="form-label" for="header">Header</label><br>
            <textarea class="form-control" name="header" rows="2" cols="100" ng-model="formData.header"></textarea><br>

            <label class="form-label" for="body">Body</label><br>
            <textarea class="form-control" name="body" rows="10" cols="100" ng-model="formData.body"></textarea><br>
    
            <input type="submit" value="Update" class="btn btn-primary mb-2 text-center">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../js/Navbar-Dashboard.js?v=1"></script>
</body>
</html>